---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}
{% if site.theme_config.show_bse_curriculum == true and
    page.title == "Bachelor in Computer Science Engineering (BSE)"
    %}
    <h2>{{ site.theme_config.education.title_bse_curriculum }}</h2>
    {% include card_list_curriculum.html collection=site.data.education.bse_course_entries %}
{% endif %}

